@import '../General';
@import '../Colors';
@import '../OpenSans';
@import '../OpenSansLight';
@import '../Reset';
@import '../Button';
@import '../Animations';

.mod.mod-openpage {
  background-color: $blue-l90;
  opacity: 0;
  animation: fadein 1.5s forwards ease-in-out;
  width: 100vw;
  height: 100vh;
  padding: 0px auto;
  text-align: center;

  .logo {
    margin: 0px auto;
    width: 50vw;
    min-width: 600px;

    svg {
      width:100%;
      margin-top: 20vh;
      margin-bottom: 4vh;
      opacity: 0;
      animation: fadein 1.2s forwards ease-in;
    }

    .logopath {
      fill: transparent;
      stroke: $blue-l30;
    }

    .logopath_glyphr {
      @extend .logopath;
      stroke-width: 0.08vw;
      animation-delay: 0.8s;
      animation: pathoutline 1.6s forwards ease-in;
    }

    .logopath_studio {
      @extend .logopath;
      stroke-width: 0.06vw;
      animation: pathoutline 0.4s forwards ease-in;
      animation-delay: 1.4s;
    }

    #letter_G {
      @extend .logopath_glyphr;
      stroke-dasharray: 890px;
      stroke-dashoffset: 890px;
    }

    #letter_g {
      @extend .logopath_glyphr;
      stroke-dasharray: 332px;
      stroke-dashoffset: 332px;
    }

    #letter_l {
      @extend .logopath_glyphr;
      stroke-dasharray: 403px;
      stroke-dashoffset: 403px;
    }

    #letter_y {
      @extend .logopath_glyphr;
      stroke-dasharray: 1136px;
      stroke-dashoffset: 1136px;
    }

    #letter_P {
      @extend .logopath_glyphr;
      stroke-dasharray: 624px;
      stroke-dashoffset: 624px;
    }

    #letter_p {
      @extend #letter_g;
    }

    #letter_h {
      @extend .logopath_glyphr;
      stroke-dasharray: 853px;
      stroke-dashoffset: 853px;
    }

    #letter_r {
      @extend .logopath_glyphr;
      stroke-dasharray: 573px;
      stroke-dashoffset: 573px;
    }

    #letter_s {
      @extend .logopath_studio;
      stroke-dasharray: 164px;
      stroke-dashoffset: 164px;
    }

    #letter_t {
      @extend .logopath_studio;
      stroke-dasharray: 118px;
      stroke-dashoffset: 118px;
    }

    #letter_u {
      @extend .logopath_studio;
      stroke-dasharray: 148px;
      stroke-dashoffset: 148px;
    }

    #letter_D {
      @extend .logopath_studio;
      stroke-dasharray: 90px;
      stroke-dashoffset: 90px;
    }

    #letter_d {
      @extend .logopath_studio;
      stroke-dasharray: 59px;
      stroke-dashoffset: 59px;
    }

    #letter_i {
      @extend .logopath_studio;
      stroke-dasharray: 153px;
      stroke-dashoffset: 153px;
    }

    #letter_O {
      @extend .logopath_studio;
      stroke-dasharray: 88px;
      stroke-dashoffset: 88px;
    }

    #letter_o {
      @extend .logopath_studio;
      stroke-dasharray: 61px;
      stroke-dashoffset: 61px;
    }
  }

  // mod overrides Button.scss
  .group.button-group.display-group {
    text-align: center;
    & > button {
      margin-left: auto;
      margin-right: auto;
    }
  }
}