@import 'Animations';

.button {
  // default button size
  @extend .button.button-md;

  &.button-sm {
    padding: 3px 8px;
  }

  &.button-md {
    padding: 5px 16px;
  }

  &.button-lg {
    padding: 8px 26px;
  }
}

.button {
  font-family: OpenSansLight;
  font-size: 12px;

  &.project-button {
    background-color: $blue-l95;
    color: $blue-l60;
    opacity: 0;
    animation: fadein 0.4s forwards ease-in;
    animation-delay: 1.6s;
    &:hover {
      background-color: $offwhite;
      color: $blue-l35;
    }
  }
}