@import 'Colors';
@import 'Panel';
@import 'Animations';

.pickerpanel {
  @extend .panel;

  position: absolute;
  z-index: 9999;
  padding:0px;
  min-width: 250px;  
  border-left-style: solid;
  border-left-width: 20px;
	animation: 0.2s fadein;
}

.pickerpanel-glyph {
  @extend .pickerpanel;
  max-width:50%;
  max-height:90%;
  
  .glyphtile {
    display: inline-block;
    width: 50px;
    height: 70px;
    margin: 0px 10px 10px 0px;
    border: 2px solid $offwhite;
    background-color: white;
    
    &:hover {
      border: 2px solid $blue-l80;
      cursor: pointer;
    }
    
    .preview {
      width: 46px;
      height: 46px;
      color: $gray-l90;
      padding-top:4px;
      text-align: center;
      font-size: 34px;
    }
    
    .name {
      height: 20px;
      padding: 2px 0px 0px 4px;
      border-top:1px solid $offwhite;
    }
  }
  
  .glyphtile.selected {
    border: 2px solid $blue-l50;
  }
}