@import 'Colors';
@import 'Reset';
@import 'PickerPanel';

.pickerheader {
	display: flex;
	flex-direction: row;
    
    .icon {
        display: flex;
        text-align: center;
        vertical-align: middle;
        height:100%;
        width:44px;
        &:hover { cursor: pointer; }
        svg { margin: auto; }
    }
    
    .title {
        display: flex;
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: left;
        height:100%;
        font-family: OpenSansLight;
        &:hover { cursor: pointer; }
    }
    
    .chevron {
        display: flex;
        text-align: right;
        vertical-align: middle;
        height:100%;
        width:44px;
        &:hover { cursor: pointer; }
        svg { margin: auto; }
    }
}

.pickerheader-primary {
    @extend .pickerheader;
    background-color: $blue-l80;
    height:44px;
    flex:0 0 44px;
    
    .icon {
        color: $blue-l35;
        svg { fill: $blue-l35; }
    }
    
    .title {
        color: $blue-l35;
        font-size:24px;
        padding-top:10px;
    }
    
    .chevron svg { fill: $blue-l70; }
    
    &:hover .chevron svg { fill: $blue-l35; }
    
    .pickerpanel { border-left-color: $blue-l80; }
}

.pickerheader-secondary {
    @extend .pickerheader;
    background-color: $blue-l85;
    height:40px;
    flex:0 0 40px;
    
    .icon {
        color: $blue-l40;
        svg { fill: $blue-l40; }
    }

    .title {
        color: $blue-l40;
        font-size:20px;
        padding-top:10px;
    }
    
    .chevron svg { fill:$blue-l75; }
    
    &:hover .chevron svg { fill: $blue-l40; }
    
    .pickerpanel { border-left-color: $blue-l85; }
}

.pickerheader-tertiary {
    @extend .pickerheader;
    background-color: $blue-l90;
    height:36px;
    flex:0 0 36px;
    
    .icon {
        color: $blue-l45;
        svg { fill: $blue-l45; }
    }
    
    .title {
        color: $blue-l45;
        font-size:16px;
        padding-top:10px;
    }
    
    .chevron svg { fill: $blue-l80; }
    
    &:hover .chevron svg { fill: $blue-l45; }
    
    .pickerpanel { border-left-color: $blue-l90; }
}





